/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

.navcontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.clippath {
  position: absolute;
  z-index: -1;
  right: -2px;
  top: -490px;
  clip-path: circle(50% at 80% 50%);
  background-color: #f1f1f1;
  color: #777777;
  width: 750px;
  height: 750px;
}

.rightnav {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
}

.menuitem {
  text-decoration: none;
  appearance: none;
  color: inherit;
  padding: 0rem 1rem;
}

.navbtn {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #0a2640;
  color: #0a2640;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
}

.leftcontainer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5rem;
}

.rightcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
  object-fit: cover;
  width: 45%;
}

.heroheader {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  width: 450px;
  line-height: 50px;
}

.herotexts {
  font-size: 1rem;
  width: 500px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.headerbtn {
  width: 170px;
  height: 35px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #0a2640;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 0rem;
}
.explorebtn {
  width: 130px;
  height: 35px;
  border-radius: 20px;
  border: 2.5px solid #0a2640;
  color: #0a2640;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.logosection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.sectionthree {
  margin-top: 7rem;
  background-color: #0a2640;
  display: flex;
  justify-content: center;
}

.servicestext {
  text-align: center;
  padding-top: 3rem;
}

.serviceheader {
  color: #fff;
  font-size: 0.9rem;
}

.servicesubtext {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  width: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 35px;
}

.cardlink {
  text-decoration: none;
  appearance: none;
  color: #fff;
  font-size: 0.85rem;
}

.cardtext {
  color: #fff;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.arrow {
  color: #fff;
  margin-left: 0.5rem;
}

.explorer {
  width: 200px;
  height: 10px;
  color: #fff;
}

.servicegrid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0rem 2rem;
  margin-top: 1rem;
}

.explore {
  border-bottom: 1px solid #fff;
  width: 130px;
  margin-bottom: 3rem;
}

.fifth {
  margin: 7rem 0rem;
}

.fifthheader {
  font-size: 2rem;
  color: #0a2640;
  font-weight: 400;
  width: 570px;
}

.goodicon {
  font-size: 2rem;
}

.box {
  display: flex;
  align-items: center;
  width: 550px;
  margin: 1rem 0rem;
  background-color: #0a2640;
  color: #fff;
  padding: 1rem;
}
.boxx {
  display: flex;
  align-items: center;
  width: 550px;
  margin: 0.5rem 0rem;
  background-color: #fff;
  color: #000000;
  padding: 1rem;
  box-shadow: 0px 4px 32px 0px #00000014;
}

.sixth {
  padding: 0rem 5rem;
}

.img {
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  object-fit: cover;
  border-radius: 20px;
  margin: 3rem 0rem;
}

.checkbox {
  padding-top: 0.2rem;
  border-bottom: 1px solid #c4c4c4;
}

.points {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.borderr {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  width: 380px;
  height: 2px;
  background-color: #c4c4c4;
}

.dropicon {
  font-size: 1.5rem;
}

.sectionseven {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.faq {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blogheader {
  color: #000000;
  font-size: 1.1rem;
  padding: 1rem 0rem;
}

.blogsubtext {
  color: #000000;
  font-size: 2.2rem;
  font-weight: 400;
  width: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 35px;
}

.blogtext {
  font-size: 0.65rem;
  font-weight: 600;
  color: #0a2640;
}

.blogtime {
  color: #777777;
  font-size: 0.65rem;
  font-weight: 500;
  margin-left: 0.4rem;
}

.blogtexts {
  font-size: 0.85rem;
  width: 200px;
}

.blogimg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.blogger {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-left: 0.6rem;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1c3d5b;
  width: 90%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.eclipse {
  position: absolute;
  z-index: 1;
  right: -100px;
  top: -1000px;
  overflow: hidden;
  overflow-y: hidden;
  clip-path: circle(50% at 80% 50%);
  background-color: #617f99;
  width: 1200px;
  height: 1200px;
}

.bannerheader {
  z-index: 3;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  color: #fff;
  width: 650px;
}

.calltoaction {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.inputfield {
  display: block;
  width: 400px;
  outline: none;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 21px;
  line-height: 1.5;
  -webkit-appearance: none;
  z-index: 2;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  border-radius: 40px;
  background: #fff;
  margin-right: 1rem;
}

.inputfield::placeholder {
  font-size: 1rem;
  color: #000000;
}

.startbtn {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  z-index: 2;
  border: none;
  color: #000000;
  background-color: #65e4a3;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
}

.footergrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 0rem 0rem 0rem 5rem;
  margin-top: 3rem;
}

.footertext {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #777777;
  width: 220px;
}

.footerheading {
  font-size: 0.85rem;
  font-weight: 700;
  color: #000000;
}

.hiring {
  height: 10px;
  background-color: #65e4a3;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.7rem;
}

.footerlinks {
  text-decoration: none;
  appearance: none;
  color: #777777;
  font-size: 0.8rem;
  margin: 1rem 0rem;
}

.copyright {
  font-size: 0.85rem;
  color: #777777;
  padding-left: 5rem;
  margin-bottom: 2rem;
}

.grids {
  display: flex;
  flex-direction: column;
}

.endgrid {
  display: flex;
  flex-direction: column;
}

.slidecontainer {
  background-color: #0a2640;
  height: auto;
  padding: 2rem;
  margin: 3rem 0rem;
}

.sliderheader {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  width: 550px;
}

.previcon {
  color: #fff;
  font-size: 3rem;
}

.slidercontainer .slick-slide {
  display: flex;
  margin: 0 10px;
}

.slidertop {
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem;
}

.slidergrid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 5rem;
  margin-top: 2rem;
}

.eachslider {
  position: relative;
  background-color: #fff;
  color: #000000;
  box-shadow: 0px 12px 32px 0px #0000001f;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin-right: 10px;
}

.sliderbody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
}

.slidertext {
  font-size: 0.85rem;
  width: 200px;
}

.slidername {
  font-size: 0.65rem;
  font-weight: 700;
  margin: 0rem;
  padding: 0rem;
}

.rank {
  font-size: 0.6rem;
  color: #0a2640;
  margin: 0rem;
  padding: 0rem;
}

.sliderimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.mobilemenu {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #0a2640;
}

.mobilenavbtn {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #0a2640;
  border-radius: 6px;
  cursor: pointer;
}

.closeicon {
  color: #ffffff;
  font-size: 1.2rem;
}

.mobileheader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.fabars {
  font-size: 1.4rem;
  cursor: pointer;
}

.mobilelinks {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-left: 3rem;
}

.mobilelink {
  padding: 1rem;
  border-top: 1px solid #13171d;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  appearance: none;
  color: inherit;
}

.respnav {
  display: flex;
  align-items: center;
}

.btnmedia {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .btnmedia {
    display: flex;
    justify-content: flex-end;
  }
  .respnav {
    display: none;
  }

  .navcontainer {
    padding: 1rem 0rem 1rem 1rem;
  }

  .servicegrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding: 0rem 2rem;
    margin-top: 1rem;
    text-align: center;
  }

  .heroheader {
    width: 100%;
    text-align: center;
  }

  .herotexts {
    width: 100%;
    text-align: center;
    padding: 0rem 0rem;
  }

  .btncontainer {
    margin: auto;
  }

  .explore {
    border-bottom: 1px solid #fff;
    width: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
  }

  .fifthheader {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .sliderheader {
    width: 100%;
  }

  .points {
    display: flex;
    justify-content: center;
  }

  .respbtn {
    display: flex;
    justify-content: center;
  }

  .respblog {
    display: flex;
    justify-content: center;
  }

  .blogtexts {
    margin: auto;
  }

  .eclipse {
    position: absolute;
    z-index: 1;
    right: -150px;
    top: -950px;
    overflow: hidden;
    overflow-y: hidden;
    clip-path: circle(50% at 80% 50%);
    background-color: #617f99;
    width: 1100px;
    height: 1100px;
  }
}

@media screen and (min-width: 1250px) {
  .barscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0rem 0.4rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .heroheader {
    width: 100%;
    text-align: center;
  }

  .herotexts {
    width: 100%;
    text-align: center;
    padding: 0rem 1rem;
  }

  .leftcontainer {
    padding-left: 1rem;
  }

  .rightcontainer {
    padding: 0rem 2rem;
    width: 100%;
  }

  .btncontainer {
    margin: auto;
  }

  .logosection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-left: 1.5rem;
    text-align: center;
  }

  .servicesubtext {
    width: 100%;
    text-align: center;
    margin: 1rem 0rem;
    padding: 0rem 0.5rem;
  }

  .servicegrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    padding: 0rem 2rem;
    margin-top: 1rem;
    text-align: center;
  }

  .explore {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    width: 100%;
  }

  .fifthheader {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .sliderheader {
    width: 100%;
  }

  .slidertop {
    padding: 0rem 1rem;
  }

  .fifthheader {
    width: 100%;
  }

  .sixth {
    padding: 0rem 2rem;
  }

  .faq {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    padding-left: 1rem;
  }

  .blogsubtext {
    margin: 1rem 0rem;
    width: 100%;
  }

  .sectionseven {
    margin-top: 0rem;
  }

  .blogtext {
    padding-left: 1rem;
  }

  .blogtexts {
    width: 100%;
    text-align: left;
    padding: 0rem 1rem;
  }

  .blogimg {
    margin-left: 1.2rem;
  }

  .bannerheader {
    font-size: 1.5rem;
    width: 100%;
  }

  .calltoaction {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  .inputfield {
    margin-bottom: 1.5rem;
    width: 100%;
    margin-right: 0rem;
  }

  .footergrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0rem 0rem 0rem 2rem;
    margin-top: 3rem;
  }
}
